* {
  touch-action: manipulation; /*disable text selection zoom for ios*/
}

.align {
  display: grid;
  place-items: center;
}
.icon {
  font-size: 2rem;
}
body {
  min-height: 100vh;
  background: #1f242d;
  font-family: sans-serif;
  color: rgba(170, 170, 170, 1);
}

a.btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  background: #252c37;
  letter-spacing: 2px;
  font-size: 16px;
  transition: 0.3s;
}

a:hover {
  color: rgba(255, 255, 255, 1);
}

a span {
  display: block;
  position: absolute;
}
a.green span {
  background: forestgreen;
}
a.red span {
  background: firebrick;
}
a.blue span {
  background: royalblue;
}
a span:nth-child(1) {
  left: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
a:hover span:nth-child(1) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
a span:nth-child(2) {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
a:hover span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

a span:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s;
  transition-delay: 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
a:hover span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.3s;
  transition-delay: 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

a span:nth-child(4) {
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  transition-delay: 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
a:hover span:nth-child(4) {
  transform: scaleY(1);
  transform-origin: left;
  transition: transform 0.3s;
  transition-delay: 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

h3 {
  font-size: 1.5rem;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
p {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
input {
  font: inherit;
  outline: 0;
}

.form__field {
  position: relative;
}

.form__field .icon {
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
}

.form__select {
  border-width: 2px;
  font-size: 30px;
  background: #1f242d;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 7px;
}

.form__input {
  border-style: solid;
  border-width: 2px;
  font-size: 1.5rem;
  padding: 0.5em 1em;
  border-color: forestgreen;
  /* border-left: none; */
  background: #1f242d;
  color: rgba(255, 255, 255, 0.8);
}

.form__input:valid + .icon::after {
  content: "😃";
}

.form__input:invalid {
  border-color: firebrick;
}

.form__input:invalid + .icon::after {
  content: "😳";
}

.gh-ribbon {
  font-family: Helvetica, Arial, sans-serif;
  width: 600px;
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
  padding: 10px;
  text-decoration: none;
  position: fixed;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 1000;
}

.gh-ribbon:after {
  content: "";
  position: relative;
  display: block;
  top: 8px;
  left: 0;
  width: 600px;
  border: 1px dashed rgba(255, 255, 255, 0.4);
}

.gh-ribbon:before {
  content: "";
  position: relative;
  display: block;
  bottom: 8px;
  left: 0;
  width: 600px;
  border: 1px dashed rgba(255, 255, 255, 0.4);
}

.gh-ribbon.right {
  top: 15px;
  right: -285px; /* top - right = width / 2 */
  transform: rotate(45deg) translateY(100%);
}

.gh-ribbon.red {
  background-color: #aa0000;
  color: #ffffff;
}

.notify {
  /* defaults */
  --notify-error: #eb5757;
  --notify-success: forestgreen;
  --notify-warning: #f2c94c;
  --notify-gray: #333333;
  --notify-gray-2: #4d4d4d;
  --notify-gray-3: #828282;
  --notify-white: #fff;
  --notify-white-2: rgba(255, 255, 255, 0.8);
  --notify-padding: 0.75rem;
  --notify-icon-size: 32px;
  --notify-close-icon-size: 16px;
}

.flex-grid-wrap {
  padding: 2rem;
}

.flex-grid {
  display: flex;
}
.flex-grid > * {
  flex: 0 1 100%;
}
.flex-grid > *:not(:first-child) {
  margin-left: 2rem;
}
@media (max-width: 36rem) {
  .flex-grid {
    flex-wrap: wrap;
  }
  .flex-grid > * {
    margin: 2rem 0 0 !important;
  }
}
@media (min-width: 36rem) {
  .flex-grid + .flex-grid {
    margin-top: 2rem;
  }
}

.flex-grid > span {
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
